.jewelries {
  margin: 5rem auto;
  width: 80%;
}
/* styles for each individual jewelry */
.each-jewelry {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 1%;
}
.each-jewelry img {
  width: 100%;
}
.each-jewelry h3 {
  text-align: center;
  margin-top: -3rem;
  color: rgba(25, 25, 25, 0.8);
}

/* ------------------------ Responsive for Tablet ------------------------ */
@media (max-width: 768px) {
  .each-jewelry {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ------------------------ Responsive for Mobile ------------------------ */
@media (max-width: 576px) {
  .each-jewelry {
    grid-template-columns: repeat(1, 1fr);
    width: 85%;
  }
}