.banner {
  background-image: url('../../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85vh;
  position: relative;
  }

.banner > div {
  display: flex;
  justify-content: center;
}

.banner button {
  text-transform: uppercase;
  position: absolute;
  bottom: 10%;
  background: #f7e1da;
  border-color: #f7e1da;
  padding: 12px;
}
.banner button:hover {
  background: #fce6df;
  border-color: #fce6df;
}
#arrival {
  left: 37%;
}
#seller {
  right: 37%;
}